.navbar {
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    transition: width 0.3s ease-in-out;
    padding: 5px 0px;
    border-right: 2px solid var(--primary-accent-color);
} 

.navbar:hover {
    width: 250px;
}