.chatPreview {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;   
    border-radius: 25px;
    column-gap: 20px;
    background-color: var(--secondary-color);
    padding: 0 30px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-bottom: 3px solid var(--primary-accent-color);
}

.chatPreview:hover {
    background-color: var(--secondary-color-hover);
}

.chatPicture {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.chatNameContainer {
    height: 100px;
}

.chatNameContainer > * {
    margin: 0 0 10px 0;
}