@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto+Slab&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: #e7e0de;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
}

#root {
    height: 100%;
}