.submitButton {
    display: flex;
    cursor: pointer;
    color: #F7F6F7;
    background-color: #43264D;
    border-radius: 15px;
    border: none;
    height: 35px;
    width: min-content;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    transition: all 0.2s ease-in;
    margin: 10px 0;
}

.submitButton:hover {
    background-color: #AB8FA7;
}

.submitButton.disabled {
    background-color: #5d515b;
    color: #a1a1a1;
}