.navbarButton {
    padding: 5px;
    background-color: #43264D;
    color: #F7F6F7;
    transition: all 0.2s ease-in;
    cursor: pointer;
    height: 100%;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbarButton:hover {
    background-color: #F7F6F7;
    color: #43264D;
}